In [ ]:
# In text data, we have the following columns:
# - date	
# - cik	
# - file_type (10Q or 10K)
# - rf	
# - mgmt (not used)
# - gvkey	
# - cusip	
# - year
#
# We need to look into the historical data and see:
# 1. What we have
# 2. How to use it to obtain:
#    - std dev (previous, historical)
#    - relaized drawdown
#
# The challenge is to align these with text data entries' companies and dates. 
# The final result should have entries which look like:
# [
#     unique_id (cik, gvkey, cusip, date),
#     text_data,
#     std_dev,
#     realized_drawdown
# ]

In [ ]:
import pandas as pd
from pathlib import Path

from constants import *

In [ ]:
ret_sample_df = pd.read_csv(Path(DATA_FOLDER) / "ret_sample.csv")

C:\Users\willi\AppData\Local\Temp\ipykernel_28300\1222527209.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  ret_sample_df = pd.read_csv(Path(DATA_FOLDER) / "ret_sample.csv")

In [ ]:
cols = ret_sample_df.columns.tolist()
for col in cols:
    print(col)

id
date
ret_eom
gvkey
iid
excntry
stock_ret
year
month
char_date
char_eom
me
prc
market_equity
div12m_me
chcsho_12m
eqnpo_12m
ret_1_0
ret_3_1
ret_6_1
ret_9_1
ret_12_1
ret_12_7
ret_60_12
seas_1_1an
seas_1_1na
seas_2_5an
seas_2_5na
at_gr1
sale_gr1
capx_gr1
inv_gr1
debt_gr3
sale_gr3
capx_gr3
inv_gr1a
lti_gr1a
sti_gr1a
coa_gr1a
col_gr1a
cowc_gr1a
ncoa_gr1a
ncol_gr1a
nncoa_gr1a
fnl_gr1a
nfna_gr1a
tax_gr1a
be_gr1a
ebit_sale
gp_at
cop_at
ope_be
ni_be
ebit_bev
netis_at
eqnetis_at
dbnetis_at
oaccruals_at
oaccruals_ni
taccruals_at
taccruals_ni
noa_at
opex_at
at_turnover
sale_bev
rd_sale
cash_at
sale_emp_gr1
emp_gr1
ni_inc8q
noa_gr1a
ppeinv_gr1a
lnoa_gr1a
capx_gr2
saleq_gr1
niq_be
niq_at
niq_be_chg1
niq_at_chg1
rd5_at
dsale_dinv
dsale_drec
dgp_dsale
dsale_dsga
saleq_su
niq_su
capex_abn
op_atl1
gp_atl1
ope_bel1
cop_atl1
pi_nix
ocf_at
op_at
ocf_at_chg1
at_be
ocfq_saleq_std
tangibility
earnings_variability
aliq_at
f_score
o_score
z_score
intrinsic_value
kz_index
ni_ar1
ni_ivol
at_me
be_me
debt_me
netdebt_me
sale_me
ni_me
ocf_me
fcf_me
eqpo_me
eqnpo_me
rd_me
bev_mev
ebitda_mev
aliq_mat
eq_dur
beta_60m
resff3_12_1
resff3_6_1
mispricing_mgmt
mispricing_perf
zero_trades_21d
dolvol_126d
dolvol_var_126d
turnover_126d
turnover_var_126d
zero_trades_126d
zero_trades_252d
bidaskhl_21d
ivol_capm_21d
iskew_capm_21d
coskew_21d
beta_dimson_21d
ivol_ff3_21d
iskew_ff3_21d
ivol_hxz4_21d
iskew_hxz4_21d
rmax5_21d
rmax1_21d
rvol_21d
rskew_21d
ami_126d
ivol_capm_252d
betadown_252d
prc_highprc_252d
corr_1260d
betabab_1260d
rmax5_rvol_21d
age
qmj
qmj_prof
qmj_growth
qmj_safety

In [15]:
ret_sample_df.head()

,id,date,ret_eom,gvkey,iid,excntry,stock_ret,year,month,char_date,...,betadown_252d,prc_highprc_252d,corr_1260d,betabab_1260d,rmax5_rvol_21d,age,qmj,qmj_prof,qmj_growth,qmj_safety
0,comp_001081_01C,20050228,20050228,1081.0,01C,CAN,-0.143457,2005,2,20050131,...,0.779315,0.672204,0.387781,0.845865,0.805580,541,-1.508294,-0.994164,-0.832048,-1.017248
1,comp_001096_01C,20050228,20050228,1096.0,01C,CAN,0.028077,2005,2,20050131,...,0.445162,0.937664,0.245148,0.456872,0.923214,517,-0.706080,-0.247574,-0.155802,-0.485635
2,comp_001117_02,20050228,20050228,1117.0,02,USA,-0.168627,2005,2,20050131,...,1.073565,0.708333,0.124188,0.863334,0.898113,373,1.344458,1.601108,1.612067,-0.566631
3,comp_001166_01W,20050228,20050228,1166.0,01W,NLD,0.086271,2005,2,20050131,...,1.781000,0.676545,0.560895,1.560202,1.342814,289,-1.355529,-0.904719,-0.999531,-1.231687
4,comp_001186_01C,20050228,20050228,1186.0,01C,CAN,0.149056,2005,2,20050131,...,1.326215,0.774557,0.174888,0.399060,0.777183,385,1.123762,0.154734,1.196690,0.939661